In [1]:
a=10
b=20

In [2]:
if a>b:
    print("a is greater")

In [3]:
if(a>b):
    print("a is grater number")
else:
    print("b is grater")

b is grater

In [4]:
a=10
b=20
c=30
if a>b&a>c:
    print("a is greatest")
elif b>a&b>c:
    print('b is gratest')
else:
    print("c is gratest")

c is gratest

# if with tuple

In [5]:
tup1=(10,20,30)
if(tup1[1]==20):
    tup1=(10,20,50)

In [6]:
tup1

(10, 20, 50)

In [7]:
tup2=('a','b','c','d')
if 'p' in tup2:
    print(" p is  present in tup2")
else:
    print("p is not in tup1")

p is not in tup1

# if with list

In [8]:
lis1=['Anurag','Mukesh','Satyam','Mithu','Shivkumar','Bala']
if lis1[5]=='Bala':
    lis1[5]='Akshay'
lis1

['Anurag', 'Mukesh', 'Satyam', 'Mithu', 'Shivkumar', 'Akshay']

In [9]:
lis1[0]='Swami Mukesananda'
lis1[1]='Swami Anuragananda'
lis1[2]='Swami Satyananda'
lis1[3]='Swami Mithuananda'
lis1[4]='Swami Shivkumarananda'
lis1[5]='Swami Akshayananda'
lis1

['Swami Mukesananda',
 'Swami Anuragananda',
 'Swami Satyananda',
 'Swami Mithuananda',
 'Swami Shivkumarananda',
 'Swami Akshayananda']

# Dictionary

In [10]:
dic1={'m':100,'a':100,'s':100,'m1':100,'s1':100,'a1':100}
if (dic1['m']==dic1['a']== dic1['s']==dic1['m1']== dic1['a1']== dic1['s1']):
    dic1['m']=dic1['m']+100
    dic1['a']=dic1['a']+100
    dic1['s']=dic1['s']+100
    dic1['m1']=dic1['m1']+100
    dic1['a1']=dic1['a1']+100
    dic1['s1']=dic1['s1']+100
dic1

{'m': 200, 'a': 200, 's': 200, 'm1': 200, 's1': 200, 'a1': 200}

# looping

In [11]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [13]:
i=1
j=2
while(i<=10):
    print(j,'*',i,"=",j*i)
    i=i+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
print("😊❤😊❤❤😊😊😊😊❤💕💕")

😊❤😊❤❤😊😊😊😊❤💕💕

In [27]:
lis=[1,2,3,4]
i=0
while i<len(lis):
    lis[i]=lis[i]+100
    i=i+1
lis

[101, 102, 103, 104]

In [42]:
l1=['Muku','Anu','Satya','mith','sikku','Bal']
for i in l1:
    print(i)

Muku
Anu
Satya
mith
sikku
Bal

In [43]:
l1=['Muku','Anu','Satya','mith','sikku','Bal']
l2=['MMukesh','Anurag','Satyam','mithu','sikkumar','Bala']
for i in l1:
    for j in l2:
        print(i,j)

Muku MMukesh
Muku Anurag
Muku Satyam
Muku mithu
Muku sikkumar
Muku Bala
Anu MMukesh
Anu Anurag
Anu Satyam
Anu mithu
Anu sikkumar
Anu Bala
Satya MMukesh
Satya Anurag
Satya Satyam
Satya mithu
Satya sikkumar
Satya Bala
mith MMukesh
mith Anurag
mith Satyam
mith mithu
mith sikkumar
mith Bala
sikku MMukesh
sikku Anurag
sikku Satyam
sikku mithu
sikku sikkumar
sikku Bala
Bal MMukesh
Bal Anurag
Bal Satyam
Bal mithu
Bal sikkumar
Bal Bala